.homepage-bookings-icons-div{
    display: flex;
    width: 100%;
    margin: auto;
    
}

.homepage-bookings-icon-holder{
    margin: 20px auto;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    width: 70%;
    background-color: white;
}

.homepage-bookings-icon{
    margin: 0 10px;
}

.homepage-bookings-type{
    display: flex;
    justify-content: space-between;
}

.homepage-bookings-type-radio-button{
    display: flex;
}

.homepage-bookings-type-radio-button>div{
    display: flex;
    margin: 0 10px;
}

.homepage-bookings-search{
    display: flex;
    justify-content: space-evenly;
}

.homepage-bookings-search>div{
    border: 1px solid black;
    text-align: left;
}

.homepage-bookings-flights{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: -60px;
    padding: 0 1%;
}

.homepage-bookings-flights>div:nth-child(1){
    height: 50px;
}

.homepage-booking-search-source{
    width: 28%;
}

.homepage-booking-search-destination{
    width: 25%;
}

.homepage-booking-search-dpearture{
    width: 15%;
}

.homepage-booking-search-return{
    width: 15%;
}
.homepage-booking-search-travellers-class{
    width: 20%;
}

.homepage-bookings-fair-type{
    display: flex;
    width: 50%;
}

.homepage-bookings-search-button{
    color: white;
}

.homepage-bookings-search-button{
    text-align: center;
}

.homepage-bookings-search-button>button{
    background-color: dodgerblue;
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 8px 3%;
    margin-top: -50px;
}

.homepage-bookings-icon{
    font-size: 30px;
    text-align: center;
}

.homepage-bookings-icon>p{
    font-size: 16px;
    margin: 0 5px;
}


.homepage-bookings-search>div>h3:nth-child(3){
    line-height: 5px;
    font-size: 15px;
    color: #4c4b4f;
}

.homepage-bookings-search>div>h2:nth-child(2), h3:nth-child(1){
    line-height: 5px;
}

.homepage-bookings-search>div{
    padding-left: 1%;
}

.homepage-booking-search-travellers-class{
    line-height: 3px;

}

.homepage-booking-search-travellers-class>h4:nth-child(4){
    color: #d28100;
}

.homepage-booking-search-travellers-class>h4{
    font-size: 14px;
}

.homepage-booking-search-return>h4{
    font-size: 14px;
    color: #4c4b4f;
}

.homepage-bookings-fair-type>div{
    background-color: whitesmoke;
    margin-right: 5px;
    height: 60px;
}

.homepage-bookings-fair-type{
    margin-bottom: 30px;
}

.homepage-bookings-fair-type>div:nth-child(1){
    background-color: white;
}