.homepage-main-content-trip-image{
    display: flex;
    justify-content: space-between;
    border: 1px solid pink;
    background-color: white;
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.homepage-main-content-trip-image>div:nth-child(1){
    display: flex;
}

img{
    height: 80%;
    margin: 9px 10px 0 10px;
}

.homepage-main-content-trip-image>div>div:nth-child(2){
    line-height: 2px;
}

.homepage-main-content-trip-image>div:nth-child(2){
    color: dodgerblue;
    margin-right: 20px;
}

.homepage-main-content-trip-image>div:nth-child(2)>h3>span{
    font-size: 30px;
}