

.homepage-second-footer{
    width: 100%;
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 50px;
}

.homepage-second-footer>div{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.homepage-second-footer>div>div{
    width: 30%;
    margin: 0 2.5%;
    
}

.homepage-second-footer>div>div>p{
    font-size: 12px;
    line-height: 20px;
}
