.homepage-second-footer{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
}

.homepage-second-footer>div{
    width: 30%;
    margin: 1.5%;
}

.homepage-second-footer>div>p{
    color: grey;
    font-size: 13px;
}